<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.song.songbook" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/mon6"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".activity.AcceuilActivity"
            android:label="@string/title_activity_acceuil"
            android:screenOrientation="portrait"
            android:logo="@drawable/bon"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/title_activity_listview"
            >

        </activity>

        <activity
            android:name=".activity.AproposActivity"
            android:label="@string/title_activity_apropos"
            >

        </activity>

        <activity
            android:name=".activity.SongActivity"
            android:label="@string/title_activity_song"
            >
        </activity>

        <meta-data
            android:name="com.parse.APPLICATION_ID"
            android:value="mguJKhzhaLLfwBR40DEQmmLERI4ZQzUKDU0b0yH0" />
        <meta-data
            android:name="com.parse.CLIENT_KEY"
            android:value="g48Vs9NLoje8nQccg010d2LK8oUHGGYX9B1qKoWu" />

    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

</manifest>
